
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>车辆查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="layui/css/layui.css">

    <!-  bootstrap引入包  ->
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="skin/css/bootstrap.min.css">
    <link rel="stylesheet" href="skin/css/animate.min.css">
    <link rel="stylesheet" href="skin/css/style.css">

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="skin/css/bootstrap.min.css">
    <link rel="stylesheet" href="skin/css/animate.min.css">
    <link rel="stylesheet" href="skin/css/style.css">

</head>
<body id="moar">
<header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <h1 class="logo"><a class="navbar-brand" href="javascript:;">我的网站</a></h1>
        </div>
        <nav class="collapse navbar-right navbar-collapse" role="navigation">
            <ul class="list-inline navbar-nav">
                <li>
                    <a href="index.html">首页</a>
                </li>

                <li class="hover">
                    <a href="car.html">车辆查询</a>
                </li>

                <li>
                    <a href="youshi.html">营业网点</a>
                </li>

                <li>
                    <a href="case.html">我的租车</a>
                </li>

                <li>
                    <a href="team.html">账号申诉</a>
                </li>

                <li>
                    <a href="about.html">优惠政策</a>
                </li>

                <li>
                    <a href="news.html">资讯</a>
                </li>

                <li>
                    <a href="contact.html">联系</a>
                </li>


                <li class="tel visible-lg-inline-block"><a href="javascript:;"><span class="icon-page-lianxi"></span> 027-88888888</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--end-->
<section class="case sx-jianju">

</section>
<!--end-->
<section class="design-page sx-jianju" style="z-index: -100">

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow animated fadeInUp">
            <div class="layui-form">
                <div class="layui-form-item">

                    <a href="register.html" class="layui-btn" target="_blank">我同意</a>

                    <h4>
                        注册协议:<br/>
                        为了维护您的利益，请您认真阅读本协议以下各条款（特别是黑体加粗部分），充分了解您的权利及义务。您阅读并同意本协议后，即表示您已对所有条款的含义及相应的法律后果全部通晓并充分理解，且自愿作出下述授权、承诺和声明。其中，授权包含《征信业管理条例》中征信业务，您应对于《征信业管理条例》及相关法律法规有一定的了解，如您不能清楚地知晓或理解国家相关法律法规规定的内容，您应咨询相关法律专业人士后再决定是否接受本协议。
                    </h4>

                    <h4> 1．特别提示</h4>
                    1.1 郑州HI汽车租赁有限公司（以下简称“HI 租车”）同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务（以下称“网络服务”）；为获得网络服务，服务使用人（以下称“用户”）应当同意本协议的全部条款并按照页面上的提示完成包括实名认证等在内的全部注册程序。用户注册成功即表示用户完全接受本协议项下的全部条款。<br/>

                    1.2 用户注册成功后，HI 租车将给予每个用户一个账号并由用户自行设置相应密码，该用户账号及其密码由用户自行保管，任何该账户项下的预订及支付等行为均视为该用户本人的操作。<br/>

                    1.3 为提供更好的服务，HI 租车有权使用通过合法途径获得的用户其他身份信息（如身份证照片等）用于为用户提供服务。


                    <h4>2. 服务内容</h4>
                    通过HI 租车网站在线预订车辆、查询价格车型信息、对提供的服务发表意见等。（具体查看公司网页https://www.hizuche.cn/）

                    <h4>3. 服务变更、中断或终止</h4>
                    3.1 鉴于网络服务的特殊性，用户授权HI 租车可随时变更、中断或终止部分或全部的网络服务。由于HI 租车需要定期或不定期地对提供网络服务的平台（如互联网网站）或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，HI 租车无需为此承担任何责任。<br/>

                    3.2 如发生下列任何一种情形，HI 租车有权在通知用户后中断或终止向用户提供本协议项下的网络服务而无需对用户或任何第三方承担任何责任：<br/>

                    3.2.1 用户提供的个人资料不真实；<br/>

                    3.2.2 用户违反本协议中规定的使用规则；<br/>

                    3.3 如用户注册的账号在任何连续180日内未实际使用，则HI 租车有权删除该账号并停止为该用户提供相关的网络服务

                    <h4>4. 使用规则</h4>
                    4.1 用户在申请使用HI 租车网络服务时，必须向HI 租车提供真实准确的个人资料，如个人资料有任何变动，必须在三个工作日内更新。<br/>

                    4.2 用户需妥善保管其个人账号密码，无论基于何种相关目的，都不允许将账号、密码转让或出借于他人使用。如用户发现其账号遭他人非法使用，应当立即通知HI 租车。因黑客行为、用户的保管疏忽导致账号、密码遭他人非法使用或用户将其账号、密码转让或出借于他人使用而导致任何的客户损失，HI 租车不承担任何责任。<br/>

                    4.3 用户注册成功后，视为允许HI 租车通过电子邮件或其他方式向用户发送HI 租车的优惠服务信息。<br/>

                    4.4 用户在使用HI 租车网络服务过程中，必须遵循以下原则：<br/>

                    4.4.1 遵守中国有关的法律和法规；<br/>

                    4.4.2 遵守所有与网络服务有关的网络协议、规定和程序；<br/>

                    4.4.3 不得为任何非法目的而使用网络服务系统；<br/>

                    4.4.4 不得利用HI 租车网络服务系统进行任何不利于HI 租车的行为。

                    <h4>5. 知识产权</h4>
                    HI 租车提供的服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为私人和非商业用途而保存在某台计算机内。HI 租车为提供服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）。


                    <h4>6. 隐私保护</h4>
                    6.1 保护用户隐私是HI 租车的一项基本政策，HI 租车保证不对外公开或向第三方提供单独用户的注册资料及用户在使用网络服务时存储在HI 租车的非公开内容，但下列情况除外：<br/>

                    6.1.1 事先获得用户的明确授权；<br/>

                    6.1.2 根据有关的法律法规要求；<br/>

                    6.1.3 按照相关政府主管部门的要求；<br/>

                    6.1.4 为维护社会公众的利益；<br/>

                    6.1.5 为维护HI 租车的合法权益。<br/>

                    6.2 当HI 租车与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方允诺严格承担与HI 租车同等的保护用户隐私的责任，则视为客户授权HI 租车将包含其个人注册资料在内的相关信息仅提供给该等第三方。


                    <h4>7. 免责声明</h4>
                    7.1 用户明确同意其使用HI 租车网络服务所存在的风险将完全由其自己承担；因其使用HI 租车网络服务而产生的一切后果也由其自己承担，HI 租车对用户不承担任何责任。<br/>

                    7.2 HI 租车不保证为向用户提供便利而设置的外部链接的准确性和完整性。同时，对于该等外部链接指向的不由HI租车实际控制的任何网页上的内容，HI 租车不承担任何责任。<br/>

                    7.3 对于因不可抗力或非因HI 租车的原因造成的网络服务中断或其它缺陷，HI 租车不承担任何责任。<br/>

                    7.4 用户同意作出以下授权，HI 租车在用户授权内不承担任何责任：<br/>

                    7.4.1 用户同意授权北京华道征信有限公司（以下简称征信机构 ）在对用户的本次征信服务中向已保存用户个人信息的机构或个人（包括但不限于公共事业单位、网络服务机构、电信运营商等）采集用户的个人信息。同时用户同意信息提供者在本次征信服务过程中向征信机构提供用户个人信息。<br/>

                    7.4.2 用户同意授权在本次征信服务中，信息使用者有权向征信机构查询用户的全部个人信息或获取用户的信用信息、个人信用报告等，且同意授权信息使用者在用途限于此次租车业务的前提下使用用户的个人信息或信用信息报告等。


                    <h4>8. 违约赔偿</h4>
                    8.1 如因HI 租车违反有关法律、法规或本协议项下的任何条款而给用户造成损失，HI 租车同意承担由此造成的损害赔偿责任。<br/>

                    8.2 用户同意保障和维护HI 租车及其他用户的合法利益，如因用户违反有关法律、法规或本协议项下的任何条款而给HI 租车或任何其他第三人造成损失，用户同意承担由此造成的一切损害赔偿责任。


                    <h4>9. 协议修改</h4>
                    9.1 HI 租车有权随时修改本协议的任何条款，一旦本协议的内容发生变动，HI 租车将会在https://www.1hai.cn/网站上公布修改之后的协议内容，该公布行为视为HI 租车已经通知用户修改内容。<br/>

                    9.2 如果不同意HI 租车对本协议相关条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受HI 租车对本协议相关条款所做的修改。


                    <h4>10. 通知送达</h4>
                    10.1 本协议项下HI 租车对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；HI 租车可任意选择其中一种方式通知用户，该通知于发送之日视为已送达用户，用户知悉并接受通知之内容。<br/>

                    10.2 用户如有任何事宜需通知HI 租车，应当通过HI 租车对外正式公布的通信地址、传真号码、电子邮件地址等联系方式进行联系及送达。


                    <h4>11. 法律管辖</h4>
                    如双方就本协议内容或其执行发生任何争议，双方应友好协商解决；协商不成时，任何一方均可向上海HI 汽车租赁有限公司所在地的人民法院提起诉讼

                </div>

            </div>
        </div>
    </div>


</section>
<!--end-->


<!--显示结果-->
<section class="design-page sx-jianju" style="z-index: -100">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow animated fadeInUp">
            <div class="layui-form">
                <div class="layui-form-item">
                    <table class="layui-hide" id="test"></table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--end-->


<section class="design-page sx-jianju">
    <div class="container">
        ﻿<ul class="list-inline menu-kj2 text-center wow animated fadeInUp">


    </ul>
        <ul class="list-inline menu-kj2 text-center wow animated fadeInUp">

        </ul>
    </div>
</section>
<!--end-->
<footer class="foot text-center">
    <div class="addess">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <dl class="dl-horizontal list-unstyled">
                        <dt><span class="icon-foot-addess"></span></dt>
                        <dd>
                            <h3>中国·郑州市</h3>
                            <p>金水区杨金路</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <dl class="dl-horizontal list-unstyled">
                        <dt><span class="icon-foot-tel"></span></dt>
                        <dd>
                            <h3>24小时服务</h3>
                            <p>027-88888888</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <dl class="dl-horizontal list-unstyled">
                        <dt><span class="icon-foot-map"></span></dt>
                        <dd>
                            <h3><a href="javascript:;" target="_blank">在地图上找到我们</a></h3>
                            <p>欢迎阁下莅临公司参观指导！</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="copy container">
        <ul class="list-inline menu-kj list-paddingleft-2">

            <li>
                <p> <a href="javascript:;">设计</a> </p>
            </li>

            <li>
                <p> <a href="javascript:;">优势</a> </p>
            </li>

            <li>
                <p> <a href="javascript:;">案例</a> </p>
            </li>

            <li>
                <p> <a href="javascript:;">团队</a> </p>
            </li>

            <li>
                <p> <a href="javascript:;">关于</a> </p>
            </li>

            <li>
                <p> <a href="javascript:;">资讯</a> </p>
            </li>

            <li>
                <p> <a href="javascript:;">联系</a> </p>
            </li>


        </ul>
        <p>
            Copyright &copy; 2002-2018 某某装饰有限公司 版权所有 <span class="hidden-xs"><a href="javascript:;" target="_blank">备案号：鄂ICP备88888888号</a></span></p>
        <ul class="list-inline kjcd">
            <li class="qq"><a href="javascript:;" target="_blank"><span class="icon-qq"></span></a></li>
            <li class="weixin"><a href="javascript:;" data-toggle="modal" data-target="#foot-weixin"><span class="icon-weixin"></span></a></li>
            <li class="weibo"><a href="javascript:;" target="_blank"><span class="icon-weibo"></span></a></li>
        </ul>
        <div class="well hidden-xs"> 友情链接：  <a href="http://www.mycodes.net/" target="_blank">源码之家</a>   /   <a href="http://#" target='_blank'>源码商城</a>   /   <a href="http://#" target='_blank'>DedeCMS模板</a>   /   <a href="http://#" target='_blank'>响应式模板</a>   /   <a href="http://#" target='_blank'>企业网站模板</a>   /    链接交换QQ：1236549 </div>
        <div class="modal fade" id="foot-weixin" tabindex="-1" role="dialog" aria-labelledby="myweixin" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myweixin">微信扫一扫，关注我们</h4>
                    </div>
                    <div class="modal-body"> <img src="skin/images/weixin-pic.jpg" alt="微信公众号" />
                        <p>打开微信，使用扫一扫即可关注我们。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--end-->
<ul class="list-unstyled kefu visible-xs-block">
    <li><a class="gt" href="javascript:;" title="在线沟通" target="_blank"><span class="icon-goutong"></span></a></li>
    <li class="hidden-xs"><a class="lx" href="javascript:;" title="联系"><span class="icon-page-lianxi"></span></a></li>
    <li class="visible-xs-inline-block"><a class="lx" href="javascript:;" title="拔打电话"><span class="icon-page-lianxi"></span></a></li>
    <li><a id="top" class="top" href="javascript:;" title="回顶部"><span class="icon-top"></span></a></li>
</ul>
<!--end-->
<script src="skin/js/jquery.min.js"></script>
<script src="skin/js/wow.min.js"></script>
<script src="skin/js/base.js"></script>
<script src="skin/js/sdcms.hits.js"></script>
<script src="skin/js/bootstrap.min.js"></script>
<script>
    wow = new WOW(
        {animateClass: 'animated',
            offset:100});
    wow.init();
    document.getElementById('moar').onclick = function() {
        var section = document.createElement('section');
        section.className = 'section--purple wow fadeInDown';
        this.parentNode.insertBefore(section, this);};
</script>

<script src="skin/js/fastclick.min.js"></script>
</body>
</html>


</body>
</html>