<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>车辆查询</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <link rel="stylesheet" href="/static/lib/layui/css/layui.css">

  <link rel="stylesheet" href="/static/css/login.css">

<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="/static/skin/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/skin/css/animate.min.css">
<link rel="stylesheet" href="/static/skin/css/style.css">

  <script src="/static/city-picker/city-picker.data.js"></script>
  <link href="/static/city-picker/city-picker.css" rel="stylesheet" />

  <style>

  </style>
  <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
  <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
  <script>

    var setMeal;
      function minDate(){
          var now = new Date();
          return now.getFullYear()+"-" + (now.getMonth()+1) + "-" + now.getDate();
      }
    layui.use('laydate', function(){
      var laydate = layui.laydate;


      //获取参数
      function getQueryString(setMeal){
        var reg = new RegExp("(^|&)"+ setMeal +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
      }
      setMeal = getQueryString("setMeal");

      var dataValue;
      var dateObject;
      //自定义颜色
      laydate.render({
        elem: '#getTime'
        ,theme: '#393D49'
        ,min:minDate()
        ,done: function(value, date, endDate){//控件选择完毕后的回调---点击日期、清空、现在、确定均会触发。
          //alert(value); //得到日期生成的值，如：2017-08-18
          dataValue = value;
         // alert(date.month+1); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
          dateObject = date;

            var dateTime =new Date(dataValue.replace(/-/g,'/')).getTime();
            //alert(dateTime);
          //????????????????????????????????????????????????????????????????????????????????
          //格子主题
          if(getQueryString("setMeal")=='week'){

              dateTime = dateTime + 86400000*7;
            laydate.render({
              elem: '#returnTime'
              ,theme: '#393D49'
              ,min:minDate()
              ,value:new Date(dateTime).getFullYear()+'-'+(new Date(dateTime).getMonth()+1)+'-'+new Date(dateTime).getDate()
              ,trigger: 'click'
            });

          }else if(getQueryString("setMeal")=='month'){
              var year = date.year;
              var month = date.month;
              if(month=='12'){
                  month = 1;
                  year += 1;
              }else{
                  month +=1;
              }
            laydate.render({
              elem: '#returnTime'
              ,theme: '#393D49'
              ,min:minDate()
              ,value:year+'-'+month+'-'+date.date
              ,trigger: 'click'
            });
          }else{
            laydate.render({
              elem: '#returnTime'
              ,theme: '#393D49'
              ,min:minDate()
            });
          }
        }



      });



    });
  </script>

  <script>
    layui.use('form', function(){
      var form = layui.form;

      //监听提交
      form.on('submit(formDemo)', function(data){
        layer.msg(JSON.stringify(data.field));
        return false;
      });
    });
  </script>

  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <script>
      $(function () {

        test(1);

        $("#choose").click(function () {
          test(1);
        });

      });


      function getCar() {

          $.ajax({
             type:"get",
              url:"",
              data:"",

          });
      }



      var pageInfo;


      function test(pageNum){
        // var formData = new FormData($("#carInfo")[1]);
        // alert(formData);
        $.ajax({
          url:"/front/queryCarByCondition",
          data: {"chooseLocation":$("#chooseLocation").val(),"getTime":$("#getTime").val(),"returnTime":$("#returnTime").val(),"pageNum":pageNum},
          type:"POST",
          dataType: "json",
          // processData: false,
          // contentType: false,
          success:function (data) {
            if(data.code == '3'){
              $("#showCar").empty();
              pageInfo = data.data;
              var car = data.data.list;
              var getTime = $("#getTime").val();
              var returnTime = $("#returnTime").val();
              var tr = "";
              for(var i = 0; i<car.length; i++){
                tr+="<tr>";
                tr+="<td>"+car[i].id+"</td>";
                tr+="<td>"+car[i].name+"</td>";
                tr+="<td>"+car[i].storeLocation+"</td>";
                tr+="<td>"+car[i].style+"</td>";
                tr+="<td>"+car[i].space+"</td>";
                tr+="<td>"+car[i].drive+"</td>";
                tr+="<td>"+car[i].color+"</td>";
                tr+="<td>"+car[i].power+"</td>";


                tr+="<td><a style='' href='/front/turnCarDetailPage?id="+car[i].id+"&getTime="+getTime+"&returnTime="+returnTime+"&setMeal="+setMeal+"'>租车</a></td>";
                tr+="</tr>";

              }

              $("#showCar").append(tr);
              //初始化分页信息
              $("#pageinfo").html("当前页:"+data.data.pageNum+"/总页数:"+data.data.pages);
              $("#txtCurPage").val(data.data.pageNum);

            }
            if(data.code == '4'){
              $("#showCar").empty();
              tr += "<tr><td>暂无可用车辆！</td></tr>";
              $("#showCar").append(tr);
              $("#ul").hide();
            }

          },
          error:function () {
            alert("失败");
          }
        });
      }


      //点击GO跳转
      function  btnGoUser() {
        test($("#txtCurPage").val());
      }


  </script>


  <script>


    layui.config({
      base: '/static/' //静态资源所在路径
    }).extend({
      citypicker: 'city-picker/city-picker' // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['jquery', 'table', 'citypicker'], function () {
      var $ = layui.$
              , table = layui.table
              , form = layui.form
              , cityPicker = layui.citypicker;

      var currentPicker = new cityPicker("#chooseLocation", {
        provincename:"provinceId",
        cityname:"cityId",
        districtname: "districtId",
        level: 'districtId',// 级别
      });
      currentPicker.setValue("河南省/郑州市/金水区");
    });





  </script>
</head>
<body id="moar">
<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <h1 class="logo"><a class="navbar-brand" href="javascript:;">我的网站</a></h1>
    </div>
    <nav class="collapse navbar-right navbar-collapse" role="navigation">
      <ul class="list-inline navbar-nav">
                      <li>
                        <a href="/front/">首页</a>
                      </li>

                      <li>
                        <a href="/front/turnCarPage">车型查询</a>
                      </li>

						<li>
							<a href="youshi.html">营业网点</a>
						</li>

						<li>
							<a href="case.html">我的租车</a>
						</li>

						<li>
							<a href="team.html">账号申诉</a>
						</li>

						<li>
							<a href="about.html">优惠政策</a>
						</li>

						<li>
							<a href="news.html">资讯</a>
						</li>

						<li>
							<a href="contact.html">联系</a>
						</li>


                      <li class="tel visible-lg-inline-block">
                        <a href="login.html">登录</a>
                      </li>

                      <li class="tel visible-lg-inline-block">
                        <a href="register.html">注册</a>
                      </li>
      </ul>
    </nav>
  </div>
</header>




<!--end-->
<section class="design-page sx-jianju">

</section>
<!--end-->
<section class="design-page sx-jianju">
  <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <form id="carInfo" enctype="multipart/form-data">
          <div class="layui-form">



                  <div class="layui-inline" col-md-4>



                      <label class="layui-form-label width_auto text-r" style="margin-top:1px;width: 100px">位置：</label>
                      <div class="layui-input-inline" style="width:300px">
                        <input type="text" autocomplete="on" class="layui-input" id="chooseLocation" name="city-picker" readonly="readonly" data-toggle="city-picker" placeholder="请选择">
                      </div>

                  </div>


                  <div class="layui-inline " col-md-3>
                    <label class="layui-form-label" style="width: 90px">取车时间</label>
                    <div class="layui-input-inline">

                      <input type="text" class="layui-input" id="getTime" placeholder="yyyy-MM-dd">
                    </div>
                  </div>


                  <div class="layui-inline" col-md-3>
                    <label class="layui-form-label" style="width: 90px">还车时间</label>
                    <div class="layui-input-inline">
                      <input type="text" class="layui-input" id="returnTime" placeholder="yyyy-MM-dd" readonly="">
                    </div>
                  </div>



                  <div class="layui-inline col-md-offset-1" >
                      <input type="button" class="layui-btn layui-btn-warm layui-btn-radius" id="choose" value="查询"></input>
                  </div>



          </div>
        </form>
      </div>
  </div>
</section>
<!--end-->


<!--显示结果-->
<section class="design-page sx-jianju" style="z-index: -100">
  <div class="container " style="height: 500px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow animated fadeInUp">
      <div class="layui-form">
        <div class="layui-form-item">


<!--          使用ajax请求-->
<!--          <table class="layui-hide" id="test"></table>-->
          <table class="layui-table" lay-even="" lay-skin="row">

                <thead>
                    <tr>
                      <th>ID</th>
                      <th>名称</th>
                      <th>门店</th>
                      <th>类型</th>
                      <th>座位数</th>
                      <th>驱动方式</th>
                      <th>颜色</th>
                      <th>排量</th>
                      <th>租车</th>
                    </tr>
                </thead>
                <tbody id="showCar">

                </tbody>
              </table>



        </div>
      </div>
    </div>
  </div>
</section>

<!--end-->
<section class="design-page sx-jianju" style="z-index: -100">
  <div class="container " >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wow animated fadeInUp">
      <div class="layui-form">



                    <ul class="pagination" id="ul">
                        <li><span id="pageinfo"></span></li>
                        <li><a class="table-bordered" href="javascript:" onclick="test(1)">首页</a></li>
                        <li><a class="table-bordered" href="javascript:" onclick="test(pageInfo.prePage)">上页</a></li>
                        <li><a class="table-bordered" href="javascript:" onclick="test(pageInfo.nextPage)">下页</a></li>
                        <li><a class="table-bordered" href="javascript:" onclick="test(pageInfo.pages)">尾页</a></li>
                        <li>
                          <input type="number" class="table-bordered" name="curPage"   min="1" max="" step="1" id="txtCurPage" />
                        </li>
                        <li>
                          <input type="button" value="Go" id="btnGo" class="btn btn-primary" onclick="btnGoUser()"/>
                        </li>
                      </ul>


      </div>
    </div>
  </div>
</section>


<!--end-->
<footer class="foot text-center">
  <div class="addess">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <dl class="dl-horizontal list-unstyled">
            <dt><span class="icon-foot-addess"></span></dt>
            <dd>
              <h3>中国·郑州市</h3>
              <p>金水区杨金路</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <dl class="dl-horizontal list-unstyled">
            <dt><span class="icon-foot-tel"></span></dt>
            <dd>
              <h3>24小时服务</h3>
              <p>027-88888888</p>
            </dd>
          </dl>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <dl class="dl-horizontal list-unstyled">
            <dt><span class="icon-foot-map"></span></dt>
            <dd>
              <h3><a href="javascript:;" target="_blank">在地图上找到我们</a></h3>
              <p>欢迎阁下莅临公司参观指导！</p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="copy container">
    <ul class="list-inline menu-kj list-paddingleft-2">

      <li>
        <p>
          <a href="javascript:;">设计</a>
        </p>
      </li>

      <li>
        <p>
          <a href="javascript:;">优势</a>
        </p>
      </li>

      <li>
        <p>
          <a href="javascript:;">案例</a>
        </p>
      </li>

      <li>
        <p>
          <a href="javascript:;">团队</a>
        </p>
      </li>

      <li>
        <p>
          <a href="javascript:;">关于</a>
        </p>
      </li>

      <li>
        <p>
          <a href="javascript:;">资讯</a>
        </p>
      </li>

      <li>
        <p>
          <a href="javascript:;">联系</a>
        </p>
      </li>

    </ul>
    <p>
      Copyright &copy; 2014-2019 HI 租车有限公司 版权所有 <span class="hidden-xs"><a href="javascript:;" target="_blank">备案号：豫ICP备88888888号</a></span></p>
    <ul class="list-inline kjcd">
      <li class="qq">
        <a href="javascript:;" target="_blank"><span class="icon-qq"></span></a>
      </li>
      <li class="weixin">
        <a href="javascript:;" data-toggle="modal" data-target="#foot-weixin"><span class="icon-weixin"></span></a>
      </li>
      <li class="weibo">
        <a href="javascript:;" target="_blank"><span class="icon-weibo"></span></a>
      </li>
    </ul>

    <div class="modal fade" id="foot-weixin" tabindex="-1" role="dialog" aria-labelledby="myweixin" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myweixin">微信扫一扫，关注我们</h4>
          </div>
          <div class="modal-body"> <img src="skin/images/weixin-pic.jpg" alt="微信公众号" />
            <p>打开微信，使用扫一扫即可关注我们。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--end-->
<ul class="list-unstyled kefu visible-xs-block">
  <li>
    <a class="gt" href="javascript:;" title="在线沟通" target="_blank"><span class="icon-goutong"></span></a>
  </li>
  <li class="hidden-xs">
    <a class="lx" href="javascript:;" title="联系"><span class="icon-page-lianxi"></span></a>
  </li>
  <li class="visible-xs-inline-block">
    <a class="lx" href="javascript:;" title="拔打电话"><span class="icon-page-lianxi"></span></a>
  </li>
  <li>
    <a id="top" class="top" href="javascript:;" title="回顶部"><span class="icon-top"></span></a>
  </li>
</ul>
<!--end-->  
<script src="/static/skin/js/jquery.min.js"></script>
<script src="/static/skin/js/wow.min.js"></script>
<script src="/static/skin/js/base.js"></script>
<script src="/static/skin/js/sdcms.hits.js"></script>
<script src="/static/skin/js/bootstrap.min.js"></script>
<script>
wow = new WOW(
{animateClass: 'animated',
offset:100});
wow.init();
document.getElementById('moar').onclick = function() {
var section = document.createElement('section');
section.className = 'section--purple wow fadeInDown';
this.parentNode.insertBefore(section, this);};
</script> 

<script src="/static/skin/js/fastclick.min.js"></script>
</body>
</html>