<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>我的网站</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/skin/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/skin/css/animate.min.css">
		<link rel="stylesheet" href="/static/skin/css/style.css">

        <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
        <script>
            $(function () {


            });
        </script>
	</head>

	<body id="moar">
		<header class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					<h1 class="logo"><a class="navbar-brand" href="index.html">我的网站</a></h1>
				</div>
				<nav class="collapse navbar-right navbar-collapse" role="navigation">
					<ul class="list-inline navbar-nav">
						<li>
							<a href="/front/">首页</a>
						</li>

						<li>
							<a href="/front/turnCarPage">车型查询</a>
						</li>

						<li>
							<a href="youshi.html">营业网点</a>
						</li>

						<li>
							<a href="case.html">优惠政策</a>
						</li>

						<li>
							<a href="team.html">我的租车</a>
						</li>

						<li>
							<a href="about.html">账号服务</a>
						</li>

						<li>
							<a href="indexs.html">个人中心</a>
						</li>

						<li>
							<a href="contact.html">联系</a>
						</li>

						<li class="tel visible-lg-inline-block">
							<a href="/front/turnLoginPage">登录</a>
						</li>

						<li class="tel visible-lg-inline-block">
							<a href="register.html">注册</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<!--end-->
		<section class="banner">
			<div id="owl-banner" class="owl-carousel owl-theme">
				<div class="item" style="background:url(/static/skin/images/1-1P3200Z1570-L.jpg)">
					<a><img src="/static/skin/images/banner-height.gif" class="center-block" alt="幻灯3" /></a>
				</div>
				<div class="item" style="background:url(/static/skin/images/1-1P3200Z2230-L.jpg)">
					<a><img src="/static/skin/images/banner-height.gif" class="center-block" alt="幻灯3" /></a>
				</div>
				<div class="item" style="background:url(/static/skin/images/1-1P3200Z2100-L.jpg)">
					<a><img src="/static/skin/images/banner-height.gif" class="center-block" alt="幻灯3" /></a>
				</div>

			</div>
			<div class="banner-bc"></div>
		</section>
		<!--end-->



		<section class="case sx-jianju">
			<div class="container text-center">
				<div class="home-title wow animated fadeInUp">
					<h2 class="h-h2-white"> 租车套餐</h2>
					<p class="m-sm-white"> Car Rental Package</p>
				</div>

				﻿<ul class="list-inline menu-kj2 text-center wow animated fadeInUp">


			</ul>
				<ul class="list-inline menu-kj2 text-center wow animated fadeInUp">

				</ul>﻿

				<div class="row design">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow animated fadeInUp">
						<figure style="background-image:url(/static/skin/images/1-1P3211044180-L.jpg)"> <a href="car.html?name=week" title="周租套餐">
							<h3 style="color: #eea236">周租套餐</h3>
							<p class="hg-2" style="color: #eea236">周租为7天时间可选择周租套餐，享受套餐95折,须先全部付清费用，提前还车概不退款</p>
							<p><span class="icon-next"></span></p>
						</a> </figure>
					</div><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow animated fadeInUp">
					<figure style="background-image:url(/static/skin/images/1-1P3211044070-L.jpg)"> <a href="car.html?name=month" title="月租套餐">
						<h3 style="color: #eea236">月租套餐</h3>
						<p class="hg-2" style="color: #eea236">月租为一个月时间可选择月租套餐，享受套餐9折,须先全部付清费用，提前还车概不退款
                        </p>
						<p><span class="icon-next"></span></p>
					</a> </figure>
				</div>
				</div>
			</div>
		</section>




		<section class="case sx-jianju">
			<div class="container text-center">
				<div class="home-title wow animated fadeInUp">
					<h2 class="h-h2-white"> 热门车型</h2>
					<p class="m-sm-white"> Hot Car</p>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp">
						<figure>
							<a href="car.html" title="时尚 省油"><img src="/static/skin/images/1-1P3201024310-L.jpg" alt="时尚 省油" />
								<figcaption>
									<h3>时尚 省油<span>现代SUV</span></h3>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp">
						<figure>
							<a href="car.html" title="时尚 空间"><img src="/static/skin/images/1-1P320102J30-L.jpg" alt="时尚 空间" />
								<figcaption>
									<h3>时尚 空间<span>现代SUV</span></h3>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp">
						<figure>
							<a href="car.html" title="时尚 电动"><img src="/static/skin/images/1-1P3201211110-L.jpg" alt="时尚 电动" />
								<figcaption>
									<h3>时尚 电动<span>荣威电动车</span></h3>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp">
						<figure>
							<a href="car.html" title="精致 舒适"><img src="/static/skin/images/1-1P3201211380-L.jpg" alt="精致 舒适" />
								<figcaption>
									<h3>精致 舒适<span>大众朗逸</span></h3>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp">
						<figure>
							<a href="car.html" title="空间 舒适"><img src="/static/skin/images/1-1P3201211570-L.jpg" alt="空间 舒适" />
								<figcaption>
									<h3>空间 运动<span>大众速腾</span></h3>
								</figcaption>
							</a>
						</figure>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 wow animated fadeInUp">
						<figure>
							<a href="car.html" title="空间 操控"><img src="/static/skin/images/1-1P3201210390-L.jpg" alt="空间 操控" />
								<figcaption>
									<h3>空间 操控<span>大众斯柯达</span></h3>
								</figcaption>
							</a>
						</figure>
					</div>

				</div>
				<p class="b-m-none">
					<a href="car.html" class="btn-center">更多车型 →</a>
				</p>
			</div>
		</section>
		<!--end-->

		<section class="kehu sx-jianju">
			<div class="container text-center">
				<div class="home-title wow animated fadeInUp">
					<h2 class="h-h2" style=" color:#333"> 车辆品牌 </h2>
					<p class="m-sm"> Testimonials </p>
				</div>
				<div class="row">
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P3211000060-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P3210959440-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P320112Q20-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P320112J60-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P320112I20-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P320112H00-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P320112F40-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P3201126460-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P3201126340-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P3201126230-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P3201125570-L.jpg" alt="" /></figure>
					<figure class="col-xs-4 col-sm-4 col-md-2 col-lg-2 wow animated fadeInUp"><img src="/static/skin/images/1-1P3201125430-L.jpg" alt="" /></figure>

				</div>

			</div>
		</section>
		<!--end-->


		<!--end-->


		<!--end-->

		<section class="tixi sx-jianju">
			<div class="container text-center">
				<div class="home-title wow animated fadeInUp">
					<h2 class="h-h2-white"> 服务体系 </h2>
					<p class="m-sm-white"> service system </p>
					<p class="m-sm-white2"> 高效的服务体系，打造更高端地租车服务 </p>
				</div>
				<div class="row system">
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-tuandui"></span> </p>
							<h3> 5年诚信企业 </h3>
						</figure>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-sheji"></span> </p>
							<h3> 200多种车型 </h3>
						</figure>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-fengshui"></span> </p>
							<h3> 符合大众审美 </h3>
						</figure>
					</div>

					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-zhiliang"></span> </p>
							<h3> 质量管理保证 </h3>
						</figure>
					</div>

					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-zhaoming"></span> </p>
							<h3> 节能设计 </h3>
						</figure>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-xiaofang"></span> </p>
							<h3> 智能空调 </h3>
						</figure>
					</div>

					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-ruanzhuang"></span> </p>
							<h3> 软装配饰 </h3>
						</figure>
					</div>
					<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
						<figure>
							<p class="ico"> <span class="icon-yzspt"></span> </p>
							<h3> 一站式配套 </h3>
						</figure>
					</div>
				</div>
			</div>
		</section>

		<!--end-->

		<section class="about sx-jianju text-center">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1">
						<div class="home-title wow animated fadeInUp">
							<h2 class="h-h2-white"> 关于 </h2>
							<p class="m-sm-white"> About </p>
							<p class="m-sm-white2"> 5年耕耘，上百万用户使用，客户满意度高达95%以上 </p>
						</div>
						<p class="hg-4 wow animated fadeInUp">   HI 租车坚持以客户为本的专业态度，颠覆繁琐的传统租车模式，为客户提供了快速便捷的全新租车服务体验。坚持“分享、环保、创新、和谐”的理念。以汽车租赁方式实现“汽车共享”，不仅可以有效提高社会资源利用率，满足民众多样化的出行需求，还能从根源上解决中国城市交通单位时间内负载过高的问题，缓解日益严重的城市空气污染问题，这是HI 租车的责任。我们还在中国设立新能源汽车租赁试点，谋求为我国环保事业做出更大贡献。另外公司遍布在中国大陆各主要城市及旅游地区的服务网络，以及24小时的取还车服务和配套服务，不仅可以随时随地满足客户的租车服务需求，更可为客户的安全行车保驾护航。</p>
						<div class="row shuju">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
								<figure>
									<figcaption>
										<h3>300+</h3>
										<p>繁华都市</p>
									</figcaption>
								</figure>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
								<figure>
									<figcaption>
										<h3>200+</h3>
										<p>热门车型</p>
									</figcaption>
								</figure>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
								<figure>
									<figcaption>
										<h3>24</h3>
										<p>小时在线客服</p>
									</figcaption>
								</figure>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow animated fadeInUp">
								<figure>
									<figcaption>
										<h3>95%</h3>
										<p>客户满意度</p>
									</figcaption>
								</figure>
							</div>
						</div>
						<p>
							<a href="javascript:;" class="btn-center">详细了解 →</a>
							<a href="javascript:;" class="btn-center">荣誉资质 →</a>
						</p>
					</div>
				</div>
			</div>
		</section>
		<!--end-->

		<footer class="foot text-center">
			<div class="addess">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<dl class="dl-horizontal list-unstyled">
								<dt><span class="icon-foot-addess"></span></dt>
								<dd>
									<h3>中国·郑州市</h3>
									<p>金水区杨金路</p>
								</dd>
							</dl>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<dl class="dl-horizontal list-unstyled">
								<dt><span class="icon-foot-tel"></span></dt>
								<dd>
									<h3>24小时服务</h3>
									<p>027-88888888</p>
								</dd>
							</dl>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<dl class="dl-horizontal list-unstyled">
								<dt><span class="icon-foot-map"></span></dt>
								<dd>
									<h3><a href="javascript:;" target="_blank">在地图上找到我们</a></h3>
									<p>欢迎阁下莅临公司参观指导！</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="copy container">
				<ul class="list-inline menu-kj list-paddingleft-2">

					<li>
						<p>
							<a href="javascript:;">设计</a>
						</p>
					</li>

					<li>
						<p>
							<a href="javascript:;">优势</a>
						</p>
					</li>

					<li>
						<p>
							<a href="javascript:;">案例</a>
						</p>
					</li>

					<li>
						<p>
							<a href="javascript:;">团队</a>
						</p>
					</li>

					<li>
						<p>
							<a href="javascript:;">关于</a>
						</p>
					</li>

					<li>
						<p>
							<a href="javascript:;">资讯</a>
						</p>
					</li>

					<li>
						<p>
							<a href="javascript:;">联系</a>
						</p>
					</li>

				</ul>
				<p>
					Copyright &copy; 2014-2019 HI 租车有限公司 版权所有 <span class="hidden-xs"><a href="javascript:;" target="_blank">备案号：豫ICP备88888888号</a></span></p>
				<ul class="list-inline kjcd">
					<li class="qq">
						<a href="javascript:;" target="_blank"><span class="icon-qq"></span></a>
					</li>
					<li class="weixin">
						<a href="javascript:;" data-toggle="modal" data-target="#foot-weixin"><span class="icon-weixin"></span></a>
					</li>
					<li class="weibo">
						<a href="javascript:;" target="_blank"><span class="icon-weibo"></span></a>
					</li>
				</ul>

				<div class="modal fade" id="foot-weixin" tabindex="-1" role="dialog" aria-labelledby="myweixin" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content text-center">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="myweixin">微信扫一扫，关注我们</h4>
							</div>
							<div class="modal-body"> <img src="skin/images/weixin-pic.jpg" alt="微信公众号" />
								<p>打开微信，使用扫一扫即可关注我们。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--end-->
		<ul class="list-unstyled kefu visible-xs-block">
			<li>
				<a class="gt" href="javascript:;" title="在线沟通" target="_blank"><span class="icon-goutong"></span></a>
			</li>
			<li class="hidden-xs">
				<a class="lx" href="javascript:;" title="联系"><span class="icon-page-lianxi"></span></a>
			</li>
			<li class="visible-xs-inline-block">
				<a class="lx" href="javascript:;" title="拔打电话"><span class="icon-page-lianxi"></span></a>
			</li>
			<li>
				<a id="top" class="top" href="javascript:;" title="回顶部"><span class="icon-top"></span></a>
			</li>
		</ul>
		<!--end-->
		<script src="/static/skin/js/jquery.min.js"></script>
		<script src="/static/skin/js/owl.carousel.min.js"></script>
		<script src="/static/skin/js/owl.carousel.quote.js"></script>
		<script src="/static/skin/js/wow.min.js"></script>
		<script src="/static/skin/js/base.js"></script>
		<script src="/static/skin/js/bootstrap.min.js"></script>
		<script>
			wow = new WOW({
				animateClass: 'animated',
				offset: 100
			});
			wow.init();
			document.getElementById('moar').onclick = function() {
				var section = document.createElement('section');
				section.className = 'section--purple wow fadeInDown';
				this.parentNode.insertBefore(section, this);
			};
		</script>
		<script src="/static/skin/js/fastclick.min.js"></script>
		<script>
			$(function() {
				$(".navbar-nav li:first-child").addClass("hover");
			})
		</script>
	</body>

</html>