<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
         <form class="layui-form" action="" lay-filter="example">
          <div class="layui-form-item">
              <label for="plateNumbers" class="layui-form-label">
                  <span class="x-red">*</span>车牌号
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="plateNumbers" name="plateNumbers" required lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>汽车的车牌号
              </div>
          </div>
            <div class="layui-form-item">
                <label for="storeId" class="layui-form-label">
                    <span class="x-red">*</span>所属门店
                </label>
                <div class="layui-input-inline">
                    <select id="storeId" name="storeId" class="valid">
                        <option value="shentong">三里屯Hi租车</option>
                    </select>
                </div>
            </div>
          <div class="layui-form-item">
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>汽车名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required lay-verify="required"
                           autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>汽车名称
              </div>
          </div>
            <div class="layui-form-item">
                <label for="charge" class="layui-form-label">
                    <span class="x-red">*</span>租车费用基数
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="charge" name="charge" required lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>租车费用基数
                </div>
            </div>
            <div class="layui-form-item">
                <label for="dictCarBrandId" class="layui-form-label">
                    <span class="x-red">*</span>品牌
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarBrandId" name="dictCarBrandId" class="valid">
                        <option value="shentong">通用</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="dictCarStyleId" class="layui-form-label">
                    <span class="x-red">*</span>车型款式
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarStyleId" name="dictCarStyleId" class="valid">
                        <option value="shentong">SUV</option>
                    </select>
                </div>
            </div>

            //上传汽车图片------------------------------待研究

            <div class="layui-form-item">
                <label for="dictCarSpaceId" class="layui-form-label">
                    <span class="x-red">*</span>座位数
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarSpaceId" name="dictCarSpaceId" class="valid">
                        <option value="shentong">2座</option>
                        <option value="shunfeng">4座</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="dictCarOperationId" class="layui-form-label">
                    <span class="x-red">*</span>变速箱类型
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarOperationId" name="dictCarOperationId" class="valid">
                        <option value="shentong">自动档</option>
                        <option value="shunfeng">手动档</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="dictCarPowerId" class="layui-form-label">
                    <span class="x-red">*</span>排量
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarPowerId" name="dictCarPowerId" class="valid">
                        <option value="shentong">1.6T</option>
                        <option value="shunfeng">2.0T</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="dictCarFuelId" class="layui-form-label">
                    <span class="x-red">*</span>燃料类型
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarFuelId" name="dictCarFuelId" class="valid">
                        <option value="shentong">汽油</option>
                        <option value="shunfeng">柴油</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="dictCarDriveId" class="layui-form-label">
                    <span class="x-red">*</span>驱动方式
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarDriveId" name="dictCarDriveId" class="valid">
                        <option value="shunfeng">4驱</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="dictCarColorId" class="layui-form-label">
                    <span class="x-red">*</span>颜色
                </label>
                <div class="layui-input-inline">
                    <select id="dictCarColorId" name="dictCarColorId" class="valid">
                        <option value="shentong">红</option>
                        <option value="shunfeng">橙</option>
                    </select>
                </div>
            </div>





          <!--<div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>手机
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="phone" name="phone" required lay-verify="phone"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>-->
          <!--<div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>邮箱
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required lay-verify="email"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div>-->

          <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>天窗</label>
              <div class="layui-input-block">
                <input type="radio" name="isScuttle" value="0" lay-skin="primary" title="否" checked="">
                <input type="radio" name="isScuttle" value="1" lay-skin="primary" title="是">
              </div>
          </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button  class="layui-btn" lay-filter="add" lay-submit="">增加</button>
    <!--            <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">赋值</button>-->
                    <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">取值</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
      </form>
    </div>
    <script>

        $(function () {
            alert(123456);
            /*$.ajax({
                url : "http://127.0.0.1:8082/token"+redisKey,
                type : "get",
                datatype : "jsonp",       // 因为只有使用jsonp才能支持跨域
                success : function (data) {// data:所接收的值就是从redis中查询出的userString
                    // 规定只要从登录项目所返回的值不为null，就说明用户已经登录成功
                    // 说明用户登录成功
                    // 规定data所传递的值就是user对象(返回的值一定是一个String类型)，获取到username
                    // "id:1,username:zhangsan,age:20,password:123456"这是个String类型
                    // 显示welcome username
                    // 需要把json类型的字符 串转换为json对象
                    // "id:1,username:zhangsan,age:20,password:123456" --> {id:1, username : "zhangsan"}...
                    if(null != data){
                        var user = JSON.parse(data);
                        $("#login_div").empty();
                        $("#login_div").append("<h1>Welcome:"+user.username+" </h1>")
                    }
                }
            });*/
        })

        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给php
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
            });
            return false;
          });

            //表单赋值
            layui.$('#LAY-component-form-setval').on('click', function(){
                form.val('example', {
                    "username": "贤心" // "name": "value"
                    ,"password": "123456"
                    ,"interest": 1
                    ,"like[write]": true //复选框选中状态
                    ,"close": true //开关状态
                    ,"sex": "女"
                    ,"desc": "我爱 layui"
                });
            });

            //表单取值
            layui.$('#LAY-component-form-getval').on('click', function(){
                var data = form.val('example');
                alert(JSON.stringify(data));
            });

        });
    </script>
  </body>

</html>